@media print{
    .no-print{
        display: none !important;
    }

    .table td, .table th {
        padding: 0.07rem !important;
        border-color: black;
    }

    @page {
        size: landscape;
    }     
    .table{
        border-color: black;
    }
}
